name: Rodar Robo de Milhas
on:
  schedule:
    - cron: '0 * * * *' # Roda toda hora
  workflow_dispatch: # Permite rodar manualmente

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout código
        uses: actions/checkout@v2
      - name: Configurar Python
        uses: actions/setup-python@v2
        with:
          python-version: '3.9'
      - name: Instalar dependências
        run: pip install requests python-telegram-bot
      - name: Rodar Robô
        run: python robo.py
